{% extends 'admin_panel/shared/_admin_layout.html' %}
{% load poll_exteras %}
{% block title %}
    صورتحساب سفارش
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="row align-items-center mb-4">
                    <div class="col">
                        <h2 class="h5 page-title"><small
                                class="text-uppercase">صورتحساب</small><br>{{ current_order.id }} #</h2>
                    </div>
                    <div class="col-auto">
                        <button id="printButton" type="button" class="btn btn-secondary">چاپ</button>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body p-5">
                        <div class="row mb-5">
                            <div class="col-12 text-center mb-4">
                                <img id="logopure" src="{{ site_setting.site_icon_circle.url }}"
                                     class="navbar-brand-img mx-auto mb-4"
                                     alt="...">
                                <h2 class="mb-0 text-uppercase">صورتحساب</h2>
                                <p>{{ site_setting.site_name }}<br> {{ site_setting.site_name_title }}
                                </p>
                            </div>
                            <div class="col-md-7">
                                <p class="small text-uppercase mb-2">فاکتور از</p>
                                <p class="mb-4">
                                    <strong>{{ site_setting.site_name }}</strong><br>{{ site_setting.site_name_title }}<br>{{ site_setting.phone_number }}<br>تهران<br>
                                    www.pure-coffee.ir<br>
                                </p>
                                <p>
                                    <span class="text-uppercase">صوتحساب</span><br>
                                    <strong>{{ current_order.id }} #</strong>
                                </p>
                            </div>
                            <div class="col-md-5">
                                <p class="small text-uppercase mb-2">فاکتور به</p>
                                <p class="mb-4">
                                    آقای/خانم <strong> {{ current_order.address.full_name }}</strong><br>فروش
                                    جزیی<br>{{ current_order.address.phone_number }}<br>
                                    {{ current_order.address.province }}<br>{{ current_order.address.city }}
                                    - {{ current_order.address.exact_address }}<br>
                                </p>
                                <p>
                                    <span class="text-uppercase">تاریخ صورتحساب</span><br>
                                    <strong>{{ current_order.payment_date|show_jalali_date }}</strong>
                                </p>
                            </div>
                        </div> <!-- /.row -->
                        <table class="table table-borderless table-striped">
                            <thead>
                            <tr>
                                <th><strong>#</strong></th>
                                <th><strong>محصول</strong></th>
                                <th class="text-right"><strong>قیمت</strong></th>
                                <th class="text-right"><strong>تعداد</strong></th>
                                <th class="text-right"><strong>جمع مبلغ</strong></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for order in order_detail %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td> {{ order.product.title }}<br>
                                        <span>{{ order.grind }} - {{ order.color }}</span>
                                    </td>
                                    <td class="text-right">{{ order.product.price|three_digits_currency }}</td>
                                    <td class="text-right">{{ order.count }}</td>
                                    <td class="text-right">{{ order.get_total_price|three_digits_currency }}</td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                        <div class="row mt-5">
                            <div class="col-md-2 text-center">
                                <p>
                                    محل مهر و امضای <br><strong>{{ site_setting.site_name }}</strong>
                                </p>
                            </div>
                            <div class="col-md-10">
                                <div id="pricesection" class="text-right mr-2">
                                    <p class="mb-2 h6">
                                        <span> جمع مبلغ : </span>
                                        <strong>{{ current_order.calculate_total_price|three_digits_currency }}</strong>
                                    </p>
                                    <p class="mb-2 h6">
                                        {% if site_setting.shipping_amount != 0 %}
                                            <span>حمل و نقل : {{ site_setting.shipping_amount | three_digits_currency }}</span>
                                        {% else %}
                                            <span>حمل و نقل : رایگان</span>
                                        {% endif %}
                                    </p>
                                    <p class="mb-2 h6">
                                        <span>جمع مبلغ قابل پرداخت : </span>
                                        <span>{{ current_order.payable_amount | three_digits_currency }}</span>
                                    </p>
                                </div>
                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.card-body -->
                </div> <!-- /.card -->
            </div> <!-- /.col-12 -->
        </div> <!-- .row -->
    </div>

{% endblock %}
