<nav class="topnav navbar navbar-light">
    <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
        <i class="fe fe-menu navbar-toggler-icon"></i>
    </button>
    <ul class="nav">
        <li class="nav-item mr-1 mt-1">
            <a href="{% url 'home_page' %}" class="btn btn-primary">نمایش وبگاه</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
                <i class="fe fe-sun fe-16"></i>
            </a>
        </li>
        <li class="nav-item mr-3 mt-3">
            <span>خوش آمدید {{ current_user }}</span>
        </li>

        {#        <li class="nav-item nav-notif m-2">#}
        {#            <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">#}
        {#                <span class="fe fe-bell fe-16"></span>#}
        {#                <span class="dot dot-md bg-success"></span>#}
        {#            </a>#}
        {#        </li>#}
        <li class="nav-item dropdown m-2">
            <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink"
               role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span><i class="fe fe-user"></i></span>حساب کاربری
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'edit_user_admin_page' pk=current_user.id %}">داشبورد</a>
                <a class="dropdown-item" href="{% url 'change_pass_user_admin_page' %}">تغییر کلمه عبور</a>
                <button class="dropdown-item btn float-right" type="button"
                        data-toggle="modal"
                        data-target="#deleteModal1"> خروج
                </button>
            </div>
        </li>
    </ul>
    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal1" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">خروج از حساب کاربری</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    آیا از خروج حساب کاربری اطمینان دارید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بی‌خیال
                    </button>
                    <form id="delete-form" method="post"
                          action="{% url 'logout_user_admin_page' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">خروج</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
