{% extends 'shared/_layout.html' %}

{% block title %}
    تغییر کلمه عبور
{% endblock %}

{% block content %}


    <div class="login-container p-5">

        <form method="post" action="{% url 'user_change_password' %}">
            {% csrf_token %}

            <h2>تغییر کلمه عبور</h2>
            <p>لطفا اطلاعات زیر را وارد کنید</p>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-key"></i>
                </div>
                <div>
                    {{ form.current_password }}
                    {{ form.current_password.errors }}
                </div>
            </div>
            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-key"></i>
                </div>
                <div>
                    {{ form.new_password }}
                    {{ form.new_password.errors }}
                </div>
            </div>
            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-key"></i>
                </div>
                <div>
                    {{ form.confirm_new_password }}
                    {{ form.confirm_new_password.errors }}
                </div>
            </div>

            <input type="submit" class="btn" value="ثبت">
            <a class="forgot" href="{% url 'forgot_password_page' %}">کلمه عبور را فراموش کرده ام</a>
            <div class="others">
                <hr>
                <p>یا</p>
                <hr>
            </div>
            <div class="account">
                <p>ثبت نام نکرده اید؟</p>
                <a href="{% url 'register_page' %}">ثبت نام</a>
            </div>
        </form>

    </div>

{% endblock %}