{% extends 'admin_panel/shared/_admin_layout.html' %}
{% load poll_exteras %}
{% block title %}
    برترین مقالات
{% endblock %}

{% block content %}

    <div class="card shadow">
        <div class="card-body">
            <!-- table -->
            <table class="table table-hover table-borderless border-v">
                <h2 class="h4 mb-1">برترین مقالات</h2>
                <p class="mb-3">پر بازدید ترین مقالات در سایت</p>
                <thead class="thead-dark">
                <tr>
                    <th>شناسه مقاله</th>
                    <th>نام مقاله</th>
                    <th>تاریخ ایجاد مقاله</th>
                    <th>تعداد بازدید</th>
                    <th>وضعیت</th>
                </tr>
                </thead>
                <tbody>
                {% for article in top_viewed_articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.create_date| show_jalali_date }}</td>
                        <td><span
                                class="badge font-weight-bold badge-success mr-2">{{ article.visit_count }}</span><small
                                class="text-muted">بازدید شده</small>
                        </td>
                        {% if article.is_active %}
                            <td><span class="badge badge-success mr-2">فعال</span></td>
                        {% else %}
                            <td><span class="badge badge-pill badge-danger mr-2">غیر فعال</span></td>
                        {% endif %}
                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>


{% endblock %}