{% extends 'admin_panel/shared/_admin_layout.html' %}
{% load poll_exteras %}
{% block title %}
    لیست تنظیمات کیف پول
{% endblock %}

{% block content %}

    <div class="row">
        <!-- Small table -->
        <div class="col-md-12 my-4">
            {% if messages %}
                {% for message in messages %}
                    <div class=" alert alert-{{ message.tags }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close"><span
                                aria-hidden="true">&times;</span></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <h2 class="h4 mb-1">همه تنظیمات کیف پول </h2>
            <p class="mb-3">تمامی تنظیمات کیف پول کاربران در اینجا آمده است و برای مشاهده جزییات و ویرایش بر روی
                علامت چشم
                کلیک کنید</p>
            <div class="card shadow">
                <div class="card-body">
                    <!-- table -->
                    {% if walletsetting_list %}
                        <table class="table table-borderless table-hover">
                            <thead>
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="all2">
                                        <label class="custom-control-label" for="all2"></label>
                                    </div>
                                </td>
                                <th><strong>شناسه</strong></th>
                                <th><strong>درصد اضافه شدن مبلغ به کیف پول</strong></th>
                                <th><strong>حداقل مبلغ خرید</strong></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for setting in walletsetting_list %}
                                <tr>
                                    <td>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="{{ setting.id }}">
                                            <label class="custom-control-label" for="{{ setting.id }}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0 text-muted">{{ setting.id }}</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 text-muted">{{ setting.percentage_to_add }}</p>
                                    </td>
                                    <td>
                                        <p class="mb-0 text-muted">{{ setting.min_purchase | three_digits_currency }}</p>
                                    </td>
                                    <td>
                                        <a href="{% url 'edit_wallet_setting_admin_page' pk=setting.id %}"><span
                                                class="text-muted"><i
                                                class="fe fe-eye"></i></span></a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-warning">
                            <p>هیچ تنظیماتی یافت نشد.</p>
                        </div>
                    {% endif %}
                    {% if is_paginated %}
                        <nav aria-label="Table Paging" class="mb-0 text-muted">
                            <ul class="pagination justify-content-center mb-0">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                                    </li>
                                {% endif %}
                                {% for pageNumber in paginator.page_range %}
                                    <li class="page-item {% if pageNumber == page_obj.number %}active{% endif %}"><a
                                            class="page-link" href="?page={{ pageNumber }}">{{ pageNumber }}</a></li>

                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?page={{ page_obj.next_page_number }}">بعدی</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div> <!-- customized table -->
    </div>

{% endblock %}